.outer-container{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #fff4df;
}

.container-page{
  width: 1000px;
  height: 2400px;
  background-color: #fff4df;
}

.container-donut{
  margin-top: 2%;
  margin-left: 20%;
  color: black;
}

.text-donut {
  margin-top: 9.5%;
  color: black;
}

.container-line{
  color: black;
}

.text-line {
  margin-top: 5%;
  color: black;
}

.container-map-line-heat{
  margin-top: 5%;
  color: black;
}

.container-waffle{
  margin-top: 5%;
  color: black;
}

.container-bar {
  margin-top: 5%;
    position: relative;
    text-align: center;
    color: black;
  }

.container-iso {
    margin-top: 5%;
    color: black;
  }

.top-right {
    position: absolute;
    top: 60px;
    right: -70px;
  }

  h1 {
    text-align: center;
    color: #ff8d21;
    font-size: 40px;
}

#margin {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.square {
  height: 185px;
  width: 95px;
  background-color: #ff8d21;
  position: absolute;
  opacity: 0.3;
  top: 120px;
  right: 140px;
}