.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.outer-container{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
}

.container-page{
  width: 1000px;
  height: 2800px;
  position: relative;
  background-color: #fff4df;
}

.container-donut{
  margin-left: 30%;
  position: relative;
  color: black;
}

.text-donut {
  margin-top: 14.5%;
  color: black;
}

.donut-annotation-1{
  position: absolute;
  font-size: smaller;
  top: 440px;
  right: 600px;
}

.donut-annotation-2{
  position: absolute;
  font-size: smaller;
  top: 200px;
  left: 100px;
}

.container-line{
  position: relative;
  color: black;
}

.text-line {
  margin-top: 5%;
  color: black;
}

.line-annotation-1{
  position: absolute;
  font-size: smaller;
  top: 380px;
  right: 80px;
}

.container-map-line-heat{
  color: black;
}

.container-waffle{
  margin-left: 2.5%;
  color: black;
}

.yr5-text{
  position: absolute;
  left: 158px;
}

.yr11-text{
  position: absolute;
  right: 155px;
}

.container-bar {
    margin-top: 5%;
    position: relative;
    text-align: center;
    color: black;
  }

.bar-annotation-1{
    position: absolute;
    font-size: smaller;
    bottom: 400px;
    right: 80px;
}

.container-iso {
    margin-top: 5%;
    margin-left: 5%;
    color: black;
  }

.text-iso{
  margin-top: 5%;
}

.text-bar{
  margin-top: 5%;
}


h1 {
    text-align: center;
    color: #ff8d21;
    font-size: 40px;
    font-family: "Roboto Slab";
    margin-bottom: 0;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto Slab";
  color: #ff8d21;
}

h3{
  text-align: center;
  font-family: "Roboto Slab";
}

h4{
  text-align: center;
  font-family: "Roboto Slab";
}

h5{
  text-align: center;
  font-family: "Roboto Slab";
}

p{
  text-align: center;
  font-family: "Roboto Slab";
}

.iso-text-desc{
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-family: "Roboto Slab";
}

.bar-text-desc{
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-family: "Roboto Slab";
}

.square-line {
  height: 255px;
  width: 95px;
  background-color: #ff8d21;
  position: absolute;
  opacity: 0.3;
  top: 238px;
  right: 65px;
}