.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.outer-container{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
}

.container-page{
  width: 1000px;
  height: 2400px;
  position: relative;
  background-color: #fff4df;
}

.container-donut{
  margin-left: 30%;
  color: black;
}

.text-donut {
  margin-top: 11.5%;
  color: black;
}

.container-line{
  position: relative;
  color: black;
}

.text-line {
  margin-top: 5%;
  color: black;
}

.container-map-line-heat{
  color: black;
}

.container-waffle{
  margin-left: 2.5%;
  color: black;
}

.yr5-text{
  position: absolute;
  left: 158px;
}

.yr11-text{
  position: absolute;
  right: 155px;
}

.container-bar {
  margin-top: 5%;
    position: relative;
    text-align: center;
    color: black;
  }

.container-iso {
    margin-top: 5%;
    margin-left: 5%;
    color: black;
  }

.text-iso{
  margin-top: 5%;
}

.text-bar{
  margin-top: 5%;
}

.top-right {
    position: absolute;
    top: 60px;
    right: -70px;
  }

h1 {
    text-align: center;
    color: #ff8d21;
    font-size: 40px;
    font-family: "Roboto Slab";
}

h3{
  text-align: center;
  font-family: "Roboto Slab";
}

h4{
  text-align: center;
  font-family: "Roboto Slab";
}

h5{
  text-align: center;
  font-family: "Roboto Slab";
}

p{
  text-align: center;
  font-family: "Roboto Slab";
}

.square-line {
  height: 185px;
  width: 95px;
  background-color: #ff8d21;
  position: absolute;
  opacity: 0.3;
  top: 180px;
  right: 65px;
}